/*
 * Copyright (c) 2020 duckyb
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

// Layer definitions

#define BASE 0
#define SYM 1
#define EXT 2
#define FNC 3
#define SYM2 4
#define ACCENT 5
#define SETTINGS 6

// -----------------

/ {
    behaviors {
        // Enables holding the first mod-tap key
        // by performing a tap-release-hold sequence.
        // To use it: "&qt KEYCODE1 KEYCODE2"

        hm_left: homerow_mods_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_LEFT";
            #binding-cells = <2>;
            tapping-term-ms = <185>;
            quick-tap-ms = <170>;
            require-prior-idle-ms = <100>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;

            hold-trigger-on-release;
            hold-trigger-key-positions = <5 15 25 26 16 6 7 7 8 9 17 18 19 27 28 29>;
        };

        lt_r: lt_right {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_RIGHT";
            #binding-cells = <2>;
            tapping-term-ms = <185>;
            quick-tap-ms = <170>;
            require-prior-idle-ms = <100>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;

            hold-trigger-key-positions = <0 4 10 11 12 13 14 20 21 22 23 24 1 2 3 12>;
            hold-trigger-on-release;
        };

        hm_right: hm_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HM_RIGHT";
            #binding-cells = <2>;
            tapping-term-ms = <185>;
            quick-tap-ms = <170>;
            require-prior-idle-ms = <100>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <0 4 10 11 12 13 14 21 22 23 24 0 1 2 3 10 11 12 13 20 21 22 23>;
            hold-trigger-on-release;
        };

        lt_l: lt_l {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_LEFT";
            #binding-cells = <2>;
            tapping-term-ms = <185>;
            quick-tap-ms = <170>;
            require-prior-idle-ms = <100>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;

            hold-trigger-on-release;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29>;
        };
    };

    macros {
        // sometimes my device thinks a modifier is being held down
        // pressing all modifiers fixes it.
    };

    combos {
        compatible = "zmk,combos";

        // both right thumb keys
        // internal-left & external-right thumb keys
        // both left thumb keys

        combo_settings {
            timeout-ms = <200>;
            key-positions = <30 31>;
            bindings = <&mo 5>;
        };

        // left index & middle fingers (home-row)
        // hold control & space for Adobe workflow

        rctrl_combo {
            bindings = <&kp RCTRL>;
            key-positions = <28 29>;
            layers = <0>;
        };

        ralt_combo {
            bindings = <&kp RALT>;
            key-positions = <8 9>;
            layers = <0>;
        };

        esc_combo {
            bindings = <&kp ESC>;
            key-positions = <0 1>;
            layers = <0>;
        };

        del_combo {
            bindings = <&kp DEL>;
            key-positions = <26 27>;
            layers = <0>;
        };

        quote {
            bindings = <&kp SINGLE_QUOTE>;
            key-positions = <18 19>;
            layers = <0>;
        };

        grave {
            bindings = <&kp GRAVE>;
            key-positions = <10 11>;
            layers = <0>;
        };

        capsword {
            bindings = <&caps_word>;
            key-positions = <13 16>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // Base alpha layer

        default_layer {
            label = "Base";
            bindings = <
&kp Q            &kp W            &kp E             &kp R              &kp T          &kp Y          &kp U               &kp I              &kp O                 &kp P
&hm_left LGUI A  &hm_left LALT S  &hm_left LCTRL D  &hm_left LSHIFT F  &kp G          &kp H          &hm_right RSHIFT J  &hm_right LCTRL K  &hm_right LEFT_ALT L  &hm_right RGUI SEMICOLON
&kp Z            &kp X            &kp C             &kp V              &kp B          &kp N          &kp M               &kp COMMA          &kp DOT               &kp SLASH
                                                    &lt_l 4 TAB        &lt_l 1 SPACE  &lt_r 3 ENTER  &lt_r 2 BACKSPACE
            >;
        };

        // Numbers and high frequency symbols

        etc_layer {
            label = "etc.";
            bindings = <
&kp K_MUTE  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &trans  &trans           &kp HOME  &kp PG_DN  &kp PG_UP  &kp END    &trans
&trans      &trans             &trans           &trans  &kp PRINTSCREEN  &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT  &trans
&trans      &trans             &trans           &trans  &trans           &trans    &trans     &trans     &trans     &trans
                                                &trans  &trans           &trans    &trans
            >;
        };

        // Main modifiers and arrow keys

        sym_layer {
            label = "sym";
            bindings = <
&kp LS(NUMBER_6)  &kp LS(NUMBER_4)   &kp PRCNT         &kp LS(NUMBER_8)  &kp LS(NUMBER_7)  &trans  &kp LS(LEFT_BRACKET)  &kp LS(RIGHT_BRACKET)  &trans         &trans
&kp LS(NUMBER_1)  &kp MINUS          &kp LS(EQUAL)     &kp EQUAL         &kp LS(MINUS)     &trans  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LS(COMMA)  &kp LS(PERIOD)
&kp BACKSLASH     &kp LS(BACKSLASH)  &kp LS(NUMBER_2)  &kp LS(NUMBER_3)  &kp LS(GRAVE)     &trans  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &trans         &trans
                                                       &trans            &trans            &trans  &trans
            >;
        };

        // Function keys with modifiers

        num_layer {
            label = "num";
            bindings = <
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0
&trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans
&trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans
                                          &trans        &trans        &trans        &trans
            >;
        };

        // Low frequency symbols.

        fn_layer {
            label = "fn";
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6  &kp F7  &kp F8  &kp F9   &kp F10
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp F11  &kp F12
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans   &trans
                        &trans  &trans  &trans  &trans
            >;
        };

        // Used to type regional accents.
        // Used to change the keyboard's settings.

        settings_layer {
            label = "Sett.";
            bindings = <
&bootloader     &none  &none  &bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 3  &none   &none  &none  &bootloader
&sys_reset      &none  &none  &none       &bt BT_SEL 1  &bt BT_SEL 4  &none   &none  &none  &sys_reset
&studio_unlock  &none  &none  &none       &bt BT_SEL 2  &bt BT_SEL 5  &none   &none  &none  &studio_unlock
                              &trans      &trans        &trans        &trans
            >;
        };
    };
};
